<div>
     <h2>Vous avez ete enregistre avec succes</h2>
     <p>Voici vos informations pour vous connecter a  la platform</p>
     <p>
         <span>Login: {{ user.username }} </span> <br>
         <span>Password: {{ user.username }} </span>
     </p>

     <p>
         pour des raisons de securite nous vous conseillons de 
         changer votre mot de passe le plus vite possible.
     </p>
</div>